/* General container for listed items */
.containerListedItems {
  padding: 2rem;
  margin: 0 auto; /* Center align the content */
}

/* Section title styles */
.section-title-listed,
.section-title-sold {
  font-size: 2rem;
  color: #333;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 1rem;
  width: 100%;
  margin: 2rem auto; /* Center align with auto margins */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.section-title-listed {
  background: rgba(238, 236, 236, 0.907); /* Light purple with transparency */
  padding: 1.5rem;
}

.section-title-sold {
  background: rgba(241, 237, 237, 0.907); /* Slightly lighter */
  padding: 2rem;
}

/* Grid layout for cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

/* Card styles */
.card-custom {
  margin-top: 10px;
  background: #F4F4F9;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.card-custom:hover {
  transform: translateY(-10px);
}

.card-img {
  flex: 1 0 auto;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-footer-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #F4F4F9;
  border-top: 1px solid #e1e1e1;
  border-radius: 0 0 10px 10px;
}

.card-footer-custom .card-text {
  flex: 1;
  text-align: left;
  color: #333;
  font-size: 1rem;
}

.card-footer-custom .buy-button {
  flex-shrink: 0;
  margin-left: 10px;
}

.card-footer-custom .buy-button button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card-footer-custom .buy-button button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .containerListedItems {
    padding: 1rem;
  }
  
  .section-title-listed,
  .section-title-sold {
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 90%;
  }

  .card-custom {
    max-width: 20rem;
    padding: 1rem;
  }

  .card-img {
    height: 18rem;
  }

  .card-footer-custom {
    margin-top: 0.5rem;
  }

  .card-text {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 576px) {
  .section-title-listed,
  .section-title-sold {
    font-size: 1.2rem;
    padding: 1rem;
    width: 95%;
  }

  .card-custom {
    max-width: 100%;
    padding: 1rem;
  }
  
  .card-img {
    height: 16rem;
  }
  
  .card-footer-custom {
    margin-top: 0.5rem;
  }
  
  .card-text {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .buy-button button {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
  }
}

.section-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}